<form class='form-container' action='/admin/login' method='post'>
    <div class='label-container'>
        <label>Usuario</label>
        <input type="text" name="usuario" placeholder='Usuario' id='inputUser' />
        <label>Contraseña</label>
        <input type="password" name="password" placeholder='Contraseña' id='inputPassword' />
        <button type='submit'>Ingresar</button>
        {{#if error}}
        <p>Usuario o Password incorrecto</p>
        {{/if}}
    </div>
</form>