.about-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
}

.about__title-container {
    text-align: center;
  }
  
  .about__title-container > h1 {
    font-size: 85px;
    color: #423f3f;
  }
  
  .about__title-container > h2 {
    font-size: 50px;
    color: #494848;
  }

  .lb {
    border-radius: 20px;
    width: 600px;
    margin-top: -2rem;
  }

  .intro {
    height: 100%;
    width: 100%;
    font-size: 30px;
    font-family: 'Ubuntu Condensed', sans-serif;
    color: #494848;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4rem;
  }
  
  @media screen and (max-width: 960px) {
    .about__title-container > h1 {
      font-size: 50px;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }

    .about__title-container > h2 {
      font-size: 28px;
    }

    .lb {
      width: 450px;
    }

    .intro {
      font-size: 22px;
      max-width: 500px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .about__title-container > h1 {
      font-size: 40px;
    }

    .about__title-container > h2 {
      font-size: 22px;
    }

    .lb {
      width: 350px;
    }
  
    .intro {
      font-size: 20px;
      max-width: 400px;
    }
  }
  