.hero-container {
  background: url('./Back.jpg') center center/cover no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  box-shadow: 0 8px 20px -6px black;
  text-align: center;
  padding-bottom: 5rem;
}

.lblogohero {
  margin-top: 2rem;
  height: 400px;
  margin-bottom: -5rem;
}

.hero-container > h1 {
  color: #fff;
  font-size: 100px;
  text-shadow: 1px 1px 2px black;
  margin-top: 0;
}

.hero-container > p {
  color: #fff;
  font-size: 30px;
  text-shadow: 0.9px 0.9px 1.5px black;
  font-family: 'Ubuntu Condensed', sans-serif;
  margin-top: -4rem;
}

.btns {
  margin-bottom: 5rem;
}

.hero-btns {
  margin-top: 30px;
}

.hero-btns .btn {
  margin: 6px;
}

@media screen and (max-width: 960px) {
  .lblogohero {
    height: 350px;
    margin-top: -10rem;
  }
  
  .hero-container > h1 {
    font-size: 90px;
  }

  .hero-container > p {
    font-size: 22px;
    margin-top: -5rem;
  }

  .hero-btns {
    margin-bottom: -10rem;
  }
}

@media screen and (max-width: 768px) {
  .lblogohero {
    height: 300px;
  }

  .hero-container > h1 {
    margin-top: 1px;
    font-size: 65px;
  }

  .hero-container > p {
    font-size: 18px;
    margin-top: -5rem;
  }
}
