* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.about,
.resources,
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.resources {
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
}

.contact {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
